<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <title>Авторизация</title>
</head>
<body>
<div class="container mt-3">
    <h1>Авторизация пользователя</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="submit">Авторизоваться</button>
        </div>
    </form>
</div>
</body>
</html>
